.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 300;
  line-height: 1.3;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: black;
}

.container {
  padding: 24px;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2%;
  border: 1px solid black;
  background-color: #f8b3b3;
  margin-top: 3em;
  padding: 1em;
}

.product-shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2%;
}

.product-favorites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2%;
  padding: 1rem 4rem;
}

.product-favorites-container h2 {
  font-weight: 400;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.product-favorites-container .favorites-empty {
  font-size: 20px;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-favorites-container .product-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4em;
}

.product-favorites-container .product-items .search-result-container .search-result-title {
  position: absolute;
  top: -4em;
  margin-left: 1em;
  color: black;
}

.product-favorites-container .product-items .product {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 1em 1em 1em;
  padding: 0.7em;
  color: black;
}

.product-favorites-container .product-items .product span {
  top: 0;
  right: 0;
  cursor: pointer;
}

.product-favorites-container .product-items .product .product-content .product-img img {
  width: 300px;
  height: 300px;
}

.product-favorites-container .product-items .product .product-info .text-overflow {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-favorites-container .product-items .product .product-buttons {
  margin-top: 10px;
}

.product-favorites-container .product-items .product:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-cart-container {
  padding: 1rem 4rem;
}

.product-cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.product-cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.product-cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.product-cart-container .titles {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid #bbbbbb;
  padding: 1rem 0;
}

.product-cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.product-cart-container .titles .total {
  padding-right: 0.5rem;
  -ms-grid-column-align: right;
      justify-self: right;
}

.cart-item .cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  height: 100%;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid #b1b1b1;
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  -ms-grid-column-align: right;
      justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid #bbbbbb;
  padding-top: 2rem;
}

.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid #b1b1b1;
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: black;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Responsive */
@media (max-width: 665px) {
  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar h2 {
    font-size: 30px;
  }
  /* Cart */
  .product-cart-container {
    padding: 2rem;
  }
  .product-cart-container .titles {
    display: none;
  }
  .cart-item,
  .product-cart-container .titles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .cart-summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}

.product-details-container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2%;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
}

.product-details-container .product-details-left-container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.product-details-container .product-details-left-container .product-image-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-details-container .product-details-left-container .product-image-slider .product-main-image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-details-container .product-details-right-container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #f1f2f6;
  margin-left: 3em;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.product-details-container .product-details-right-container .product-info {
  padding: 2em;
}

.product-details-container .product-details-right-container .product-info .product-name {
  color: black;
}

.product-details-container .product-details-right-container .product-info .product-btn-group {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-details-container .product-details-right-container .product-info .product-btn-group .btn-favorites {
  width: 35px;
  height: 35px;
  font-size: 1em;
  padding: 5px;
  cursor: pointer;
  outline: none;
  color: black;
  padding-top: 6px;
  margin-right: 10px;
}

.product-details-container .product-details-right-container .product-info .product-btn-group .btn-cart {
  width: 15em;
  height: 35px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.header {
  position: relative;
  z-index: 1;
}

.header .nav {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  padding: 0 1.25em;
}

.header .nav a {
  padding: 0.5em;
}

.header .nav__right .nav__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
}

.header .nav__right .nav__tools a {
  color: black;
}

.header .nav__right .nav__tools .nav__cart {
  position: relative;
}

.header .nav__right .nav__tools .nav__cart span {
  position: absolute;
  top: 0;
  right: 4px;
  background-color: red;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: white;
  padding: 8px;
}

.header .nav__toggle {
  cursor: pointer;
}

.header .nav__toggle > span {
  display: block;
  width: 31px;
  height: 3px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 4px 2px;
          transform-origin: 4px 2px;
}

.header .nav__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header .overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background-image: linear-gradient(black, transparent);
}

.header.open .nav__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .nav__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .nav__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu {
  position: absolute;
  top: 4em;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: black;
  text-align: center;
}

.product-left-container {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-top: 1.3em;
}

.product-left-container .filter-widget {
  margin-left: 1em;
}

.product-left-container .filter-widget .aside {
  margin-bottom: 25px;
}

.product-left-container .filter-widget .aside .aside-title {
  margin-bottom: 10px;
  color: black;
}

.product-left-container .filter-widget .aside .aside-title h4 {
  margin: 0;
  padding: 0;
}

.product-left-container .filter-widget .aside .aside-content {
  width: 180px;
  max-height: 143px;
  overflow-y: auto;
  font-size: 0.9em;
}

.product-left-container .filter-widget .aside .aside-content .main {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 0.9em;
  color: black;
}

.product-left-container .filter-widget .aside .aside-content input[type=checkbox] {
  visibility: hidden;
}

.product-left-container .filter-widget .aside .aside-content .newCheckbox {
  position: absolute;
  top: 1.5px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-left-container .filter-widget .aside .aside-content .main input:checked ~ .newCheckbox {
  background-color: black;
}

.product-left-container .filter-widget .aside .aside-content .newCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

.product-left-container .filter-widget .aside .aside-content .main input:checked ~ .newCheckbox:after {
  display: block;
}

.product-left-container .filter-widget .aside .aside-content .main .newCheckbox:after {
  left: 5px;
  bottom: 3px;
  width: 6.5px;
  height: 11.5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-left-container .filter-widget .aside .aside-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product-left-container .filter-widget .aside .aside-content::-webkit-scrollbar {
  width: 4px;
}

.product-left-container .filter-widget .aside .aside-content::-webkit-scrollbar-thumb {
  background-color: black;
}

.product-right-container {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.product-right-container .product-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4em;
}

.product-right-container .product-items .search-result-container .search-result-title {
  position: absolute;
  top: -4em;
  margin-left: 1em;
  color: black;
}

.product-right-container .product-items .product {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 1em 1em 1em;
  padding: 0.7em;
  color: black;
}

.product-right-container .product-items .product .product-content .product-img img {
  width: 300px;
  height: 300px;
}

.product-right-container .product-items .product .product-info .text-overflow {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-right-container .product-items .product .product-buttons {
  margin-top: 10px;
}

.product-right-container .product-items .product:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*# sourceMappingURL=style.css.map */